{{$achievements := split (.Get "achievements") ";"}}
{{$technologies := split (.Get "technologies") ";"}}

<div>
  <h3>{{ .Get "name" }}</h3>
  <div>
    {{ .Get "timeframes" }}
  </div>
  <p class="cv-experience-block">
    <b class="cv-experience-title">{{ T "project description" | title }}:</b>{{ .Get "description" }}
  </p>
  <p class="cv-experience-block">
    <b class="cv-experience-title">{{ T "responsibilities" | title }}:</b>{{ .Get "responsibilities" }}
  </p>

{{ if (.Get "achievements") }}
  <p class="cv-experience-block">
    <b class="cv-experience-title">{{ T "personal achievements" | title }}:</b>
  </p>

  <ul>
    {{ range $achievements }}
    <li>
      <span>
        {{ . }}
      </span>
    </li>
    {{ end }}
  </ul>
{{ end }}

  <p class="cv-experience-block">
    <b class="cv-experience-title">{{ T "technologies" | title }}:</b>
  </p>
  <ul>
    {{ range $technologies }}
    <li>
      <span>
        {{ . }}
      </span>
    </li>
    {{ end }}
  </ul>
</div>
